.headStyle {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.labelStyle {
    font-weight: 400;
    font-size: 18px;
}

.inputStyle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    width: 165px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(125, 250, 0);
    border: 2px solid rgb(105, 182, 28);
    color: rgb(252, 252, 252);
}

.titleText {
    margin-left: 500px;
    margin-right: 500px;
}